/* @font-face {
    font-family: 'Millerstone';
    src: url('/assets/millerstone.woff2') format('woff2'),
         url('/assets/millerstone.woff') format('woff');
} */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
}