@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla.ttf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('assets/fonts/EB\ Garamond.ttf');
}

@font-face {
    font-family: 'Parisienne';
    src: url('assets/fonts/Parisienne.ttf');
}

html {
    height: 100%;
    --beige: #F0E9E4;
    --black: #000;
    --brown: #3C2E08;
    --dark-green: #0B241F;
    --gray: #C7C7C7;
    --green: #11302A;
    --white: #FFF;
    --cursive: 'Parisienne';
    --sans: 'Karla';
    --serif: 'EB Garamond';
}

body {
    font-family: var(--sans), Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

a {
    color: var(--green);
    font-weight: bold;
    letter-spacing: .25px;
}

a:hover {
    text-decoration: none;
}

button {
    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
    cursor: pointer;
    font-family: var(--sans), Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 12px 18px;
}

button:hover {
    background-color: var(--white);
    border: 2px solid var(--green);
    color: var(--green);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif), Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 1.5;
    margin: 0;
}

img {
    display: block;
}

ul {
    margin: 4px 0;
}

li {
    line-height: 1.5;
    margin: 4px 0;
}